<h2>Featured Product:</h2>
 <div class="index-content">
   <h1>Welcome to Unsplash</h1>
   <p class="intro-text">Some beautiful and breathe taking images from Unsplash</p>
   <%= render 'simple_pages/carousel' %>
 </div><!--/index-content -->