<div class="container">
  <footer class="fixed-bottom">
    <small>
      &copy; 2018 Bike Berlin
      </small>
      <nav>
        <ul>
        <li> <%= link_to "About", simple_pages_about_path, class: "foot" %> </li>
        <li> <%= link_to "Contact", simple_pages_contact_path, class: "foot" %> </li>
         </ul>
       </nav>   
  </footer>
 </div> 